<div class="frame-component">
    <p> Frame Name : {{ name }} (PGN: {{ pgn }}) </p>
    Priority: <input type="number" id="number" min="0" [(ngModel)]="inputPriority">
    Source: <input type="number" id="number" min="0" [(ngModel)]="inputSource">
    Dest: <input type="number" id="number" min="0" placeholder="255" [(ngModel)]="inputDest">
    Period: <input type="number" id="number" min="0" placeholder="0" [(ngModel)]="inputPeriod">
    {{ interface }}
    <button (click)="AddSpn()" style="margin-left: 20px;"> More Spn </button>
    <button (click)="DeleteSpn()" style="margin-left: 20px;"> Delete Spn </button>
</div>

<div>
    <ul id="myUL">
        <li *ngFor="let s of spnsArray; index as i">
            Spn: <input type="number" id="number" min="0" (change)="changeSpn(s, true, $event.target.value)">
            Value: <input type="number" id="number" min="0" (change)="changeSpn(s, false, $event.target.value)">
            <button (click)="Send(s, i)" style="margin-left: 20px;"> Send </button>
            Result: {{ s.status }}
        </li>
    </ul>
</div>