# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

tags
*.a
*.so
*.so.*
*.cmake
CMakeFiles/
CMakeCache*
cscope.*
Makefile
j1939_export.h
GUI_WEB/backend/graph.pb.cc
GUI_WEB/backend/graph.pb.h
GUI_WEB/frontend/graph.proto
