<div>
    <input type="text" placeholder="127.0.0.1" [(ngModel)]="inputAddr">
    <button (click)="ConnectServer()">Connect</button>
</div>

<div class="framelists">
    <p> Supported J1939 Frames: </p>
    <input type="text" value="" list="frames" [(ngModel)]="frameChosen" (change)="chooseFrame(frameChosen)" />
    <datalist id="frames">
        <option *ngFor="let f of framelists" [value]="f.name">{{ f.pgn }}</option>
    </datalist>
</div>

<div class="boxed frame">
    <ul>
        <li>
            <app-frame [frameItem]="frameComponent"></app-frame>
            <button> Delete </button>
        </li>
    </ul>
</div>