<div>
    <input type="text" placeholder="127.0.0.1" [(ngModel)]="inputAddr">
    <button (click)="ConnectServer()">Connect</button>
</div>

<div class="framelists">
    <p> Supported J1939 Frames: </p>
    <input type="text" value="" list="frames" [(ngModel)]="frameChosen" (change)="chooseFrame(frameChosen)" />
    <datalist id="frames">
        <option *ngFor="let frame of framelists; index as i" [value]="frame.name">{{ frame.pgn }}</option>
    </datalist>
</div>

<div class="boxed frame">
    <ul>
        <li>
            CCVS:
            Priority: <input type="number" name="points" min="0" max="10" value="">
            Source: <input type="number" name="points" min="0" max="10" value="">
            Period: <input type="number" name="points" min="0" max="10" value="">
            vcan0
            <button> Delete </button>
        </li>
        <li>
            CCVS:
            Priority: <input type="number" name="points" min="0" max="10" value="">
            Source: <input type="number" name="points" min="0" max="10" value="">
            Period: <input type="number" name="points" min="0" max="10" value="">
            vcan0
            <button> Delete </button>
        </li>
    </ul>
</div>